@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf2f8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  -webkit-box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  border-radius: 1rem;
  max-width: 800px;
  margin: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.card .article-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 100%;
}

.card .article-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 300px;
  height: 100%;
}

.card .article-content {
  padding: 3rem;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.card .article-content h2 {
  font-size: 2.2rem;
  color: #48556a;
}

.card .article-content > p {
  font-size: 1.3rem;
  color: #6d7f97;
}

.card .article-content .card-footer {
  height: 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 3rem;
}

.card .article-content .card-footer .share {
  border-radius: 0.5rem;
  right: 5rem;
  bottom: 7.5rem;
  position: absolute;
  background-color: #48556a;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9eafc2;
  font-size: 1.3rem;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  letter-spacing: 6px;
  opacity: 0;
  pointer-events: none;
}

.card .article-content .card-footer .share.active {
  opacity: 1;
  -webkit-appearance: all;
     -moz-appearance: all;
          appearance: all;
}

.card .article-content .card-footer .share > .share-btn {
  display: none;
}

.card .article-content .card-footer .share:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 10px solid #48556a;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.card .article-content .card-footer .share ul {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .article-content .card-footer .share ul li {
  margin: 0 0.5rem;
}

.card .article-content .card-footer .author {
  height: 5rem;
}

.card .article-content .card-footer .author-image {
  height: 5rem;
  border-radius: 50%;
}

.card .article-content .card-footer .author-details {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .article-content .card-footer .author-details h6 {
  font-size: 1.5rem;
  color: #6d7f97;
}

.card .article-content .card-footer .author-details p {
  color: #9eafc2;
}

.card .article-content .card-footer .share-btn {
  width: 40px;
  height: 40px;
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.card .article-content .card-footer .share-btn path {
  fill: #6d7f97;
}

@media (max-width: 800px) {
  .card {
    margin: 3rem;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card .article-content {
    padding: 0;
  }
  .card .article-content > h2 {
    padding: 1rem 3rem;
  }
  .card .article-content > p {
    padding: 1rem 3rem;
  }
  .card .article-content .card-footer .share {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100%;
    -webkit-transform: none;
            transform: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .card .article-content .card-footer .share.active {
    opacity: 1;
  }
  .card .article-content .card-footer .share > .share-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card .article-content .card-footer .share:after {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */